<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            {#background-color: antiquewhite;#}
            {#background-image: url({{ url_for('static', filename='test.jpg') }});#}
            {#background-repeat:no-repeat;#}
            {#background-position-x: -50px;#}
            font-family: "Times New Roman";
        }
    </style>
    <title>Washington Post Search</title>
</head>
<body text="#1B4F72">

<div style="padding-top:10px;padding-bottom: 15px; text-align: center">
    <h1 style="color:#1B4F72">Washington Post Search</h1>
</div>


<form action="{{ url_for('results') }}" name="search" method="post">
    <div style="padding-top: 15px; padding-left: 700px; text-align:left">
    <label for="query">Query:</label>
    <input type="text" id="query" name="query" size=50 placeholder="Enter Keyword Here">
    <input type="submit" value="Search">
    <br> <strong> Analyzer Selection: </strong>
    <input type="radio" name="options_analyzer" id="option1" value="basic_analyzer"  checked="checked" > Basic analyzer </input>
    <input type="radio" name="options_analyzer" id="option2" value="custom_analyzer" > Custom analyzer </input>

    <br> <strong> Embedding Selection: </strong>
    <input type="radio" name="options_embed" id="option1" value="bm25"  checked="checked" > BM25 </input>
    <input type="radio" name="options_embed" id="option2" value="ft_vector" > FastText </input>
    <input type="radio" name="options_embed" id="option3" value="sbert_vector" > Sentence Bert </input>
    <input type="radio" name="options_embed" id="option4" value="lf_vector" > Longformer  </input>

    </div>
</form>


</body>
</html>